/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Nexa-XBold";
    src: url(../fonts/Nexa-XBold.otf) format("opentype");
    font-family: "NexaRegular";
    src: url(../fonts/NexaRegular.otf) format("opentype");
}

* {
box-sizing: border-box;
}

html {
        background-color: #F3E5D8;
    }

h1, h2, h3 {
  font-family: "Nexa-XBold";  
}

h1 {
    font-size: 3.5em;
    color: #00D66C;
}

h2 {
    font-size: 3em; 
}

h3 {
    font-size: 1.8em; 
}

p, form, ul {
    font-size: 1em;
    font-family: "NexaRegular"; 
}

a, button {
    font-family: "Nexa-XBold";
    text-decoration: none;
}

header {
    height: 50vh; 
    width: 100vw;
    background-color: white;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -50vw;
}

header img{
    width: 3rem;
    margin-top: 1rem;
}

header img:nth-of-type(1){
    margin-left: 1rem;
}

header nav {
    position: absolute;
    margin-top: 2rem;
    display: inline-block;
}

header li {
    display: inline-block;
}

nav a {
    color: #00D66C;
    padding-left: 1rem;
}

header h1 {
    margin-top: 3rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    background-image: url(../images/homeshape.svg);
    background-repeat: no-repeat;
    background-size: 3rem;
    padding-left: 4rem;
}

header input[type="text"] {
    font-family: "Nexa-XBold";
    padding: 1rem 0rem 1rem 3.5rem;
    font-size: 1rem;
    color: white;
    background-color: #00D66C;
    background-image: url(../images/searchiconwhite.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1rem;
    border-radius: 3rem;
    border: none;
    margin-left: 5rem;
}

header ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
header ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
header :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
header :-moz-placeholder { /* Firefox 18- */
  color: white;
}

header::before{
    content: '';
	position: absolute;
	background-color: white;
    width:  10em;
	height: 10em;
    transform: rotate(45deg);
    border-bottom-right-radius: 1rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: -2rem;
    z-index: -1;
}


body section:nth-of-type(-n+3) {
    background-image: url(../images/vliegtuiguitzicht2.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding-left: 3rem;
    position: relative;
}

body section:nth-of-type(-n+3) h2{
    position: absolute;
    bottom: 5.3rem;
    color: white;
}

body section:nth-of-type(-n+3) h3{
    position: absolute;
    bottom: 2.3rem;
    color: #00D66C;
}

body section:nth-of-type(-n+3) div{
    left: 0;
    width: 40%;
	height: 0.7rem;
	position: absolute;
    bottom: 0;
    background-color: #00D66C;
}

body section:nth-of-type(2) {
    display: none;
}

body section:nth-of-type(3) {
    display: none;
}

main {
    padding: 3rem 1rem 3rem 1rem;
    background-color: #F3E5D8;
}

main h2 {
    color: #2800A0;
    margin-left: 2rem;
}

main > button{ 
    color: #606060;
    background: url(../images/sorfilter.svg) no-repeat left;
    background-size: 2.5rem;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    border: none;
}

form[action="filterandsort"] {
    border-radius: .75rem;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 1rem,
    rgba(255, 255, 255, 1) 3.5rem,
    rgba(255, 255, 255, 0) 3.5rem,
    rgba(255, 255, 255, 0) 3.5rem);
    display: none;
}

form[action="filterandsort"] h3 {
    border-radius: .75rem .75rem 0rem 0rem;
    padding: 2rem 0rem 1rem 0rem;
    background-color: white;
    color: #00D66C;
}

form[action="filterandsort"] legend {
    font-family: "Nexa-XBold";
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding-top: 1rem;
}

form[action="filterandsort"] label {
    display: block;
}

form[action="filterandsort"] h3, legend, label {
    padding-left: 2rem;
}

form[action="filterandsort"] button {
    color: white;
    font-size: 1rem;
    border: none;
    background-color: #ff3268;
    box-shadow:inset 0 -0.1875em 0.0625em #ca2b55;
    padding: 0.7rem 1.5rem 0.7rem 3rem;
    text-decoration: none;
    border-radius: 3rem;
    background-image: url(../images/searchiconwhite.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2.3rem;
}

main article {
    position: relative;
    margin-top: 1rem;
    border-radius: .75rem;
    color: white;
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 1em,
    rgba(255, 255, 255, 1) 3.5em,
    rgba(255, 255, 255, 0) 3.5em);
}

main article h3 {
    border-radius: .75rem .75rem 0rem 0rem;
    padding: 2rem 2rem 0rem 2rem;
    background-color: #00D66C;
}

main article footer {
    padding: 0rem 2rem 0rem 2rem;
    background-color: #00D66C;
}

article a {
    color: white;
}


article li {
    display: inline-block;
    margin-right: 1rem;
}

article li:nth-last-of-type(3) {
    background: url(../images/comment.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

article li:nth-last-of-type(2) {
    background: url(../images/like.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

article li:nth-last-of-type(1) {
    background: url(../images/time.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

/* article p {
    display: block;
    color: white;
    padding: 3rem 2rem 3rem 2rem;
    background: url(../images/vliegtuiguitzicht.png) no-repeat center;
    background-size: 100%;
} */

article img {
    display: block;
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

article button {
    margin-top: -2rem;
    width: 6rem;
    height: 4rem;
    font-family: "NexaRegular"; 
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #2800A0;
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 1.5rem;
}

article button:first-of-type {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    background-image: url(../images/toevoegenaanlijst.svg);
}

section button {
    border: none;
    background-color: #ff3268;
    box-shadow:inset 0 -0.1875em 0.0625em #ca2b55;
    padding: .4375em 1.5em .5625em;
    text-decoration: none;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
}

aside{
    background-color: #00D66C;
    height: 50vh;
}


aside h3{
    padding: 8rem 2rem 2rem 11rem;
    margin-left: 1rem;
    color: white;
    background: url(../images/flightwindow.svg) no-repeat left;
    background-size: 10rem;
}

@media (min-width: 40em){
    
    body>div  {
        display: flex;
        justify-content: center;
    }
    
    main section {
        width: calc(50% - 0.5rem);
    }
    
    body section:nth-of-type(1) {
    display: block;
        margin-left: 1rem;
}
    
    body section:nth-of-type(2) {
    display: block;
        margin-right: 1rem;
}
    
    main  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main article {
        width: calc(50% - 0.5rem);
    }
    
}

@media (min-width: 60em){
    
    body, header>div {
        max-width: 70rem;
        margin: 0 auto;
    }
    
    body>div  {
        display: flex;
        justify-content: center;
    }
    
    main section {
        width: calc(33% - 0.5rem);
    }
    
    body section:nth-of-type(2) {
        margin-right: 0rem;
}
    
    body section:nth-of-type(3) {
    display: block;
        margin-right: 1rem;
}
    
    main  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    main article {
        width: calc(33% - 0.5rem);
    }
    
}

    