/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Nexa XBold";
    src: url(../fonts/Nexa-XBold.otf);
}

@font-face {
    font-family: "Nexa Regular";
    src: url(../fonts/NexaRegular.otf);
}

html {
        background-color: #F3E5D8;
    }

h1, h2, h3, h4 {
  font-family: "Nexa XBold";  
}

h1 {
    font-size: 4em;
    color: #00D66C;
}

h2 {
    font-size: 3.5em; 
}

h3 {
    font-size: 1.8em; 
}

h4 {
    font-size:  1.2em;
}

p, form, ul {
    font-size: 1em;
    font-family: "Nexa Regular"; 
}

a, button {
    font-family: "Nexa XBold";
    text-decoration: none;
}

header { 
    width: 100vw;
    height: 20rem;
    background-color: white;
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -50vw;
}

header img{
    width: 3rem;
    margin-top: 1rem;
}

header img:nth-of-type(1){
    margin-left: 1rem;
}

header nav {
    position: absolute;
    margin-top: 2rem;
    display: inline-block;
}

header li {
    display: inline-block;
}

nav a {
    color: #00D66C;
    padding-left: 1rem;
}

 header h1 {
    margin-top: 4rem;
    margin-left: 5rem;
} 

header img:last-of-type {
    position: absolute;
    margin-left: -3rem;
    margin-top: 8rem;
}

/* header::before {
    content: '';
    position: absolute;
    background-image: url(../images/homeshape.svg);
    background-repeat: no-repeat;
    background-size: 3rem;
    width: 3rem;
    height:100%;
    margin-left: 1rem;
    margin-top: 8rem;
} */

main ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
main ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
main :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
main :-moz-placeholder { /* Firefox 18- */
  color: white;
}

header::after{
    content: '';
	position: absolute;
	background-color: white;
    width:  10em;
	height: 10em;
    transform: rotate(45deg);
    border-bottom-right-radius: 1rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: -2rem;
    z-index: -1;
}


body section:nth-of-type(-n+3) {
    background-image: url(../images/vliegtuiguitzicht2.png);
    background-position: center;
    background-size: cover;
    height: 20rem;
    padding-left: 3rem;
    position: relative;
}

body section:nth-of-type(-n+3) h2{
    position: absolute;
    bottom: 5.3rem;
    color: #00D66C;
}

body section:nth-of-type(-n+3) h3{
    position: absolute;
    bottom: 2.3rem;
    color: white;
}

body section:nth-of-type(-n+3) div{
    left: 0;
    width: 40%;
	height: 0.7rem;
	position: absolute;
    bottom: 0;
    background-color: #00D66C;
}

body section:nth-of-type(2) {
    display: none;
}

body section:nth-of-type(3) {
    display: none;
}

main {
    position: relative;
    padding: 3rem 1rem 7rem 1rem;
    background-color: #F3E5D8;
}

main h2 {
    color: #2800A0;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

main input[type="text"] {
    font-family: "Nexa XBold";
    padding: 1rem 0rem 1rem 3.5rem;
    font-size: 1rem;
    color: white;
    background-color: #2800A0;
    background-image: url(../images/searchiconwhite.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1rem;
    border-radius: 3rem;
    border: none;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

main > button{ 
    display: block;
    color: #606060;
    background: url(../images/sorfilter.svg) no-repeat left;
    background-size: 2.5rem;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 0.5rem;
}

/*main>div {
	width: calc(100vw - 2rem);
    height: 0.2rem;
    background-color: #606060;
} */

form[action="filterandsort"]:hover {
    max-height: 90rem;
}

form[action="filterandsort"] {
    max-height: 8.5rem;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: .75rem;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 1rem,
    rgba(255, 255, 255, 1) 3.5rem,
    rgba(255, 255, 255, 0) 3.5rem,
    rgba(255, 255, 255, 0) 3.5rem);
    display: none;
}

form[action="filterandsort"] h3 {
    border-radius: .75rem .75rem 0rem 0rem;
    padding: 2rem 0rem 1rem 0rem;
    background-color: white;
    color: #00D66C;
}

form[action="filterandsort"] legend {
    font-family: "Nexa XBold";
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding-top: 1rem;
}

form[action="filterandsort"] label {
    display: block;
}

form[action="filterandsort"] h3, legend, label {
    padding-left: 2rem;
}

form[action="filterandsort"] button {
    color: white;
    font-size: 1rem;
    border: none;
    background-color: #ff3268;
    box-shadow:inset 0 -0.1875em 0.0625em #ca2b55;
    padding: 0.7rem 1.5rem 0.7rem 3rem;
    text-decoration: none;
    border-radius: 3rem;
    background-image: url(../images/searchiconwhite.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2.3rem;
}

main article {
    position: relative;
    margin-top: 1rem;
    border-radius: .75rem;
    color: white;
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 1em,
    rgba(255, 255, 255, 1) 3.5em,
    rgba(255, 255, 255, 0) 3.5em);
}

main article h3 {
    border-radius: .75rem .75rem 0rem 0rem;
    padding: 2rem 2rem 0rem 2rem;
    background-color: #00D66C;
}

main article footer {
    padding: 0rem 2rem 0rem 2rem;
    background-color: #00D66C;
}

article a {
    color: white;
}


article li {
    display: inline-block;
    margin-right: 1rem;
}

article li:nth-last-of-type(3) {
    background: url(../images/comment.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

article li:nth-last-of-type(2) {
    background: url(../images/like.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

article li:nth-last-of-type(1) {
    background: url(../images/time.svg) no-repeat left;
    background-size: 1.2rem;
    padding: 1rem 0rem 1rem 1.5rem;
    color: white;
}

/* article p {
    display: block;
    color: white;
    padding: 3rem 2rem 3rem 2rem;
    background: url(../images/vliegtuiguitzicht.png) no-repeat center;
    background-size: 100%;
} */

article img {
    display: block;
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

article button {
    margin-top: -2rem;
    width: 6rem;
    height: 4rem;
    font-family: "Nexa Regular"; 
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #2800A0;
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 1.5rem;
}

article button:first-of-type {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    background-image: url(../images/toevoegenaanlijst.svg);
}

main>a:last-of-type{
    position: absolute;
    bottom: 2rem;
    font-family: "Nexa XBold";
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-radius: 3rem;
}

.leesbundels {
    padding: 0;
}

.leesbundels article {
    background-color: #00D66C;
    background-image: none;
    margin-top: 0;
    border-radius: 0;
    padding: 1rem;
    min-height: 13rem;
}

.leesbundels article:nth-of-type(1) {
    padding: 5rem 1rem 1rem 1rem;
}

.leesbundels h3 {
    border-radius:0;
    padding-top: 0;
    background-color: #00D66C;
    margin-bottom: 0.5rem;
}

.leesbundels p {
    color: #202020;
    margin-bottom: 1rem;
}

.leesbundels p:nth-of-type(2) {
    color: white;
    margin-bottom: 0rem;
}

.leesbundels article img {
    float: left;
    height: auto;
    width: 8rem;
    margin-right: 1rem;
}

.leesbundels article button {
    height:6rem;
    width: 3rem;
    margin: 0rem;
}

.leesbundels div {
    background-color: white;
    padding: 1rem 1rem 1rem 1rem; 
}


.leesbundels div>article {
    min-height: auto;
    background-color: white;
}

.leesbundels div>article:nth-of-type(1) {
    padding: 1rem;
}

.leesbundels div>article footer {
    padding: 0rem;
    background-color: transparent;
}

.leesbundels div>article ul{
    padding-right: 5rem;
    border-bottom: solid #202020 0.1rem;
}

.leesbundels div>article li:nth-last-of-type(3) {
    background: url(../images/commentdark.svg) no-repeat left;
    background-size: 1.2rem;
}

.leesbundels div>article li:nth-last-of-type(2) {
    background: url(../images/likedark.svg) no-repeat left;
    background-size: 1.2rem;
}

.leesbundels div>article li:nth-last-of-type(1) {
    background: url(../images/timedark.svg) no-repeat left;
    background-size: 1.2rem;
}

.leesbundels div>article h4, .leesbundels div>article li  {
    color: #202020;
}



aside{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem;
    position: relative;
    background-color: #00D66C;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    z-index: 1;
}

aside div>div:nth-of-type(1){
    margin-left: 1rem;
    max-width: 25rem;
}


aside img {
    float: left;
    width: 8.5rem;
    margin-right: 1rem;
}

aside h3{
    padding-bottom: 1.5rem;
    color: white;
}

aside p {
    display: inline;
    font-family: "Nexa XBold"; 
    font-size: 2rem;
    background-color: white;
    color: #00D66C;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: .75rem;
}

aside p:nth-of-type(2) {
    background-color: #ff3268;
    color: white;
    margin-left: 1rem;
}

aside div>a:first-of-type{ 
    display: inline-block;
    margin-top: 2rem;
    font-family: "Nexa XBold";
    padding: 1rem 1.25rem 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    background-color: #2800A0;
    box-shadow: inset 0 -0.1875em 0.0625em #120145;
    border-radius: 3rem;
    width: max-content;
}

aside div>div:nth-of-type(2) {
    display: none;
}

aside div>div:nth-of-type(3) {
    display: none;
}

aside article {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

aside article ul{
    padding-right: 5rem;
    border-bottom: solid white 0.1rem;
}

aside::after{
    content: '';
	position: absolute;
	background-color: #00D66C;
    width:  10em;
	height: 10em;
    transform: rotate(45deg);
    border-bottom-right-radius: 1rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: -2rem;
    z-index: -1;
}

body>footer {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    background-color: #F7F7F7;   
}

body>footer img:first-of-type {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    width: 3rem;
}

body>footer h3 {
    margin-left: 1rem;
    display: inline;
    color: #00D66C;  
    background-image: url(../images/transavialogo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2rem;
    padding: 1rem 1rem 1rem 2.5rem;
}

body>footer div {
 position: relative;
 margin-top: 5rem;
    padding-bottom: 1rem;

}

body>footer ul{
    display: inline-block;
    float: right;
    margin-right: 1rem;
}

body>footer li{
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

body>footer li:nth-of-type(1){
    background-image: url(../images/whatsappicon.svg);
}

body>footer li:nth-of-type(2){
    background-image: url(../images/youtubeicon.svg);
}

body>footer li:nth-of-type(3){
    background-image: url(../images/facebookicon.svg);
}


body>footer a {
    font-size: 5px;
    color: transparent;
}

@media (min-width: 45em){
    
    body>div  {
        display: flex;
        justify-content: center;
    }
    
    body section:nth-of-type(-n+3) {
        width: 100%;
    }
    
    body section:nth-of-type(1) {
        margin-left: 1rem;
}
    
    body section:nth-of-type(2) {
    display: block;
        margin-right: 1rem;
}
    
    main div:nth-of-type(2)  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    .leesbundels {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .leesbundels article:nth-of-type(2) {
    padding: 5rem 1rem 1rem 1rem;
}
    
    main article {
        width: calc(50% - 0.5rem);
    }
    
    .leesbundels article {
        width: calc(50% - 2rem);
    }
    
    aside {
         display: block;
    }
    
    aside>div {
        display: flex;
        justify-content:space-between;
    }
    
    aside div>div:nth-of-type(2) {
    display: block;
}
    
}

@media (min-width: 65em){
    
    body, header>div, aside>div, footer>div {
        max-width: 70rem;
        margin: 0 auto;
    }
    
    body>div  {
        display: flex;
        justify-content: center;
    }
    
    body section:nth-of-type(2) {
        margin-right: 0rem;
}
    
    body section:nth-of-type(3) {
        display: block;
        margin-right: 1rem;
}
    
    main div:nth-of-type(1){
        display: flex;
        justify-content: space-between;
}
    
    main div:nth-of-type(2)  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    main article {
        width: calc(33% - 0.5rem);
    }
    
    .leesbundels article {
        width: calc(33% - 2rem);
    }
    
    .leesbundels article:nth-of-type(3) {
    padding: 5rem 1rem 1rem 1rem;
}
    
    aside>div {
        display: flex;
        justify-content:space-between;
    }
    
    
    aside div>div:nth-of-type(3) {
    display: block;
}
    
}

    