/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Nexa-XBold";
    src: url(../fonts/Nexa-XBold.otf) format("opentype");
    font-family: "Nexa-Bold";
    src: url(../fonts/Nexa-Bold.otf) format("opentype");
    font-family: "NexaRegular";
    src: url(../fonts/NexaRegular.otf) format("opentype");
}

/* apply a natural box layout model to all elements source: http://jsbin.com/yeril/2/edit?html,css,output */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1 {
font-family: "Nexa-XBold";
    font-size: 4em;
    color: white;
}

h2 {
   font-family: "Nexa-Bold";
    font-size: 2.5em; 
}

h3 {
    font-family: "Nexa-Bold";
    font-size: 2em; 
}

h4 {
    font-family: "NexaRegular";
    font-size: 1.5rem;
    color: #606060;
}

header {
    height: 60vh;
    background-image: url(../images/vliegtuiguitzicht2.png);
    background-position: center;
    background-size: cover;
    position: relative;  
}

/* source: http://jsbin.com/yeril/2/edit?html,css,output */
header:before,
header:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  border-bottom: 2rem solid white; 
}

header:before {
  left: 0;
  border-right: 3rem solid transparent;
}

header:after {
  right: 0;
  border-left: 3rem solid transparent;
}

header img{
    width: 2rem;
    margin-top: 1rem;
}

header img:nth-child(1){
    margin-left: 1rem;
}

header img:nth-child(2){
    float: right;
    margin-right: 1rem;
}

header h1 {
    margin-left: 1rem;
    margin-top: 2rem;
}

header h2 {
    color: white;
    margin-top: 15rem;
    margin-left: 1rem;
}

header h3 {
    margin-left: 1rem;
}

main {
   background-color: white;
}


main img:nth-child(1){
    width: 1rem;
}

main img{
     width: 1.5rem;
}

main img:nth-child(1){
    margin-left: 1rem;
    margin-top: 1rem;
}

main h4 {
    display: inline-block;
}

main article {
    margin-top: 3rem;
    margin-left: 1rem;
}